.pt {
    margin-top: 10px;
}

.background-grey {
    background-color: #1a202c;
}

.react-thumbnail-generator {
    height: 100%;
    display: flex;
    border: 1px solid #d8d8d8;
    padding: 1px;
    background: #3c3c3c url(../../images/bars.svg);
    background-size: 29px;
    background-repeat: no-repeat;
    background-position: center center;
}

.react-thumbnail-generator img{
    object-fit: cover;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
.underconstruction
{
    margin-top:2rem;
}

.backtohome
{
    background: #303F9F;
    color: white;
    padding: 10px 20px;
    margin-top: 1rem;
    display: inline-block;
    border-radius: 5px;
    font-size: 13px;
}