.thumbnail {
  width: 100%;
  height: 100%;
  /* background-size: cover; */
  object-fit: cover;
}
.video-actions,
.icon-container {
  display: flex;
  align-items: center;
}
.report-video-link {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.clicked {
  fill: black !important;
}
.icon-btn {
  outline: none !important;
  border: none !important;
  color: rgba(0, 0, 0, 0.6) !important;
}
.tooltip-top {
  z-index: 1 !important;
}
.share-modal {
  z-index: 1000000 !important;
}
.flex-share-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
